<div class="row kpibar">

   <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 kpi-brick">
      <app-kpi text="New" [value]="kpis.New"></app-kpi>
   </div>

   <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 kpi-brick">
      <app-kpi text="In Progress" [value]="kpis.InProgress"></app-kpi>
   </div>

   <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 kpi-brick">
      <app-kpi text="Closed" [value]="kpis.Closed"></app-kpi>
   </div>
   
   <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 kpi-brick">
      <app-kpi text="Approved" [value]="kpis.Approved"></app-kpi>
   </div>
   <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 kpi-brick">
      <app-kpi text="Late" [value]="kpis.Late"></app-kpi>
   </div>

   <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 kpi-brick">
      <app-kpi text="Assigned To Me" [value]="kpis.AssignedToMe"></app-kpi>
   </div>

</div>