<div class="row kpibar">


   <app-kpi class="col-lg-2 col-md-6 col-sm-12" text="New" [value]="kpis.New"></app-kpi>
   <app-kpi class="col-lg-2 col-md-6 col-sm-12" text="InProgress" [value]="kpis.InProgress"></app-kpi>
   <app-kpi class="col-lg-2 col-md-6 col-sm-12" text="Closed" [value]="kpis.Closed"></app-kpi>
   <app-kpi class="col-lg-2 col-md-6 col-sm-12" text="Approved" [value]="kpis.Approved"></app-kpi>
   <app-kpi class="col-lg-2 col-md-6 col-sm-12" text="Late" [value]="kpis.Late"></app-kpi>
   <app-kpi class="col-lg-2 col-md-6 col-sm-12" text="Assigned To Me" [value]="kpis.AssignedToMe"></app-kpi>

</div>
