<div class="container main-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="site-cl">Add New Incident</h3>
    </div>
  </div>


  <div class="row section">
    <div class="offset-md-2 col-md-8 col-sm-12 text-center">
      <table class="table new-incident">
        <tr>
          <td>
            <h6 class="text-muted">Title</h6>
          </td>
          <td><input [(ngModel)]="title" type="text" placeholder="" class="w-100 txt" maxlength="100" /></td>
        </tr>
        <tr>
          <td>
            <h6 class="text-muted">Assignee</h6>
          </td>
          <td class="w-100">
            <app-assignee-dropdown [selectedAssignee]="''" (assigneeChanged)="assigneeChanged($event)" ></app-assignee-dropdown>
          </td>
        </tr>
        <tr>
          <td>
            <h6 class="text-muted">Description</h6>
          </td>
          <td><textarea class="w-100 txt text-muted" [(ngModel)]="description" placeholder="" (input)="common.auto_grow($event)"></textarea></td>
        </tr>
        <tr>
          <td>
            <h6 class="text-muted text-nowrap">Additional Details</h6>
          </td>
          <td><textarea class="w-100 txt" [(ngModel)]="addtionalDetails" (input)="common.auto_grow($event)"></textarea>
          </td>
        </tr>
        <tr>
          <td>
            <h6 class="text-muted">Start Time</h6>
          </td>
          <td>
            <input [owlDateTime]="startdt" [(ngModel)]="startDate" [owlDateTimeTrigger]="startdt" type="text"  class="w-100 txt" />
            <owl-date-time #startdt (afterPickerClosed)="startDateChanged()"></owl-date-time>
          </td>
        </tr>
        <tr>
          <td>
            <h6 class="text-muted">Due Date</h6>
          </td>
          <td>
            <input [owlDateTime]="duetDatedt" [(ngModel)]="dueDate"  [owlDateTimeTrigger]="duetDatedt" type="text" class="w-100 txt" />
              <owl-date-time #duetDatedt (afterPickerClosed)="dueDateChanged()"></owl-date-time>
          </td>
        </tr>
        <tr>
          <td>
            <h6 class="text-muted">Attachments</h6>
          </td>
          <td colspan="">
            <div class="custom-file upload-container w-100 text-left">
              <div class="file-container">
                <button class="btn bg-primary text-white"><i class="fas fa-paperclip"></i></button>
                <input type="text" id="filestxt" value="{{filesText}}" class="txt  text-muted" value="Click here to upload Files" readonly >
              
              </div>
              <input class="file" id="files"
              (change)="filesChange($event)" type="file" multiple />
            
            </div>

          </td>
        </tr>
        <tr>
          <td colspan="2" class="text-center btns" >
            <button class="btn bg-success text-white" (click)="saveIncident();" >
              Save
              <i class="fas fa-save"></i>
            </button>
            <button class="btn bg-warning text-white" (click)="cancelClicked();" >
              Cancel
              <i class="far fa-window-close"></i>
            </button>

          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
