<nav class="navbar navbar-toggleable-md navbar-dark bg-custom">



  <a class="navbar-brand" href="#" style="font-size: larger;" (click)="manuChanged('dashboard' , $event)">
    <img src="../../assets/images/logo-white.png" height="50px" />
  </a>

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
</button>
  <!-- <a class="navbar-brand" href='#' (click)="manuChanged('dashboard' , $event)">Incident Manager</a> -->
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
              <a class="nav-link d-flex" href='#' (click)="manuChanged('incidents' , $event)">
                <i class="material-icons mr-1">pest_control</i>
                Incidents
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link d-flex " href='#' (click)="manuChanged('users' , $event)">
                <i class="material-icons mr-1">people</i>
                Users
              </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href='#' (click)="manuChanged('messages' , $event)">Messages</a>
          </li> -->   
          <li class="nav-item icon">
              <div class="btn-group">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    <i class="fas fa-bell"></i>
                    <ng-container *ngIf="unReadCount>0">
                      <span class="badge badge-pill">{{unReadCount}} new</span>
                      <!-- <span class="notification-count" id="notificationCount">{{unReadCount}}</span> -->
                    </ng-container>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right justify-content-center">
                      <div id="notifications" class="notification-list scrollbar">
                       
                            <ng-container  *ngFor="let notification of notifications">
                              <div class="notification d-flex alig-items-center justify-content-between"  [class.unread]="!notification.IsRead" [class.read]="notification.IsRead" >
                                                               
                                <div class="notification-icon" > 
                                  <i  *ngIf="notification.IsRead" class="material-icons mr-2" title="Mark Unread" (click)="setNotificationStatus($event, notification.Id, false)">drafts</i>
                                  <i  *ngIf="!notification.IsRead" class="material-icons  mr-2" title="Mark Read" (click)="setNotificationStatus($event, notification.Id, true)">email</i>                               
                                </div>

                                <div class="notification-text">
                                  <a  (click)="openIncident(notification.IncidentId, notification.Id)" >{{notification.NotifyAbout}}</a>
                                </div>

                                <div class="notification-time" >
                                  <small class="text-nowrap" >
                                    <span title= '{{common.getMoment(notification.CreateDate).format("MMMM DD YYYY, h:mm:ss a")}}'>{{common.getMoment(notification.CreateDate).fromNow() }} </span>
                                  </small> 
                                </div>
                               
                              </div>
                            </ng-container>
                      </div>
                  </div>
              </div>
             
             
          </li>         
         
          <li class="nav-item">
            <a class="nav-link" (click)="logoutClick()" title="Log out"><i class="fas fa-sign-out-alt text-white"></i></a>

          </li>
      </ul>
  </div>
</nav>
