<nav class="navbar navbar-toggleable-md navbar-dark bg-custom  site-bg">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars text-white"></i>
  </button>
  <a class="navbar-brand" href='#' (click)="manuChanged('dashboard' , $event)">Incident Manager</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
              <a class="nav-link" href='#' (click)="manuChanged('incidents' , $event)">Incidents</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href='#' (click)="manuChanged('users' , $event)">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='#' (click)="manuChanged('messages' , $event)">Messages</a>
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
          </li> -->
          <li class="nav-item">
              <div class="btn-group">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><i class="fas fa-bell"></i></a>
                  <div class="dropdown-menu dropdown-menu-right justify-content-center">
                      <div id="notifications" class="notification-list scrollbar">
                        <table class="table">
                          <tbody>
                            <ng-container *ngFor="let notification of notifications">
                              <tr  [class.unread]="!notification.IsRead">
                                <td colspan="3">
                                  <a class="text-primary notification" (click)="openIncident(notification.IncidentId, notification.Id)" >{{notification.NotifyAbout}}</a>
                                </td>
                                <td colspan="1">
                                  <small class="text-nowrap" style="margin-left:10px;">
                                    <span title= '{{common.getMoment(notification.CreateDate).format("MMMM DD YYYY, h:mm:ss a")}}'>{{common.getMoment(notification.CreateDate).fromNow() }} </span>
                                  </small>
                                </td>
                                <td colspan="1" *ngIf="notification.IsRead">
                                  <i title="Mark Unread" class="far fa-bookmark text-right" (click)="setNotificationStatus($event, notification.Id, false)" aria-hidden="true"></i>
                                  <span class="sr-only">Mark Unread</span>
                                </td>
                                <td colspan="1" *ngIf="!notification.IsRead">
                                  <i title="Mark Read" class="fas fa-bookmark text-right" (click)="setNotificationStatus($event, notification.Id, true)" aria-hidden="true"></i>
                                  <span class="sr-only">Mark Read</span>
                                </td>
                             </tr>

                            </ng-container>
                          </tbody>
                       </table>
                      </div>
                  </div>
              </div>
              <ng-container *ngIf="unReadCount>0">
                <span class="notification-count" id="notificationCount">{{unReadCount}}</span>
              </ng-container>
             
          </li>         
         
          <li class="nav-item">
            <a class="nav-link" (click)="logoutClick()" title="Log out"><i class="fas fa-sign-out-alt text-white"></i></a>

          </li>
      </ul>
  </div>
</nav>
