<div class="row">
  <div class="col-sm-12 col-md-4 ">
      <div class="text-success records-info" id="info">Showin from 1 to 7 of 49 Incidents</div>
  </div>
  <div class="col-sm-12 col-md-2 ">
      <div  style="margin-top:5px;">
          <span>Page Size :</span>
          <select onchange="return pageSizeChanged(this);" id="pageSizeDdl" class="browser-default  dropdown-custom">
              <option value="5" selected>5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
              <option value="100">100</option>
          </select>
      </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</div>
