.page-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}

.page-row ul{
  margin-bottom: 0px;
}
.records-info {
  color: #9e9e9e;
}

.dropdown-custom {
  border: none;
  border-bottom: 1px solid #9e9e9e;
}

select.dropdown-custom {
  padding: 5px;
}
select.dropdown-custom:focus {
  outline:none;
}

.pagination a{
  color:  darkblue;
}
.pagination a:hover{
  text-decoration: underline;
  background: radial-gradient(circle, rgba(2,74,130,1) 0%, rgba(0,0,0,1) 100%);
  color: white;
}

.pagination .active{
   background: radial-gradient(circle, rgba(2,74,130,1) 0%, rgba(0,0,0,1) 100%);
   color: white;
}

@media (min-width: 300px) {
  .page-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}

@media (min-width: 1200px) {
  .page-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
