<div class="row">
  <div class="col-sm-12 col-md-4 ">
      <div class="text-success records-info" id="info">{{information}}</div>
  </div>
  <div class="col-sm-12 col-md-2 ">
      <div  style="margin-top:5px;">
          <span>Page Size :</span>
          <select (change)="pageSizeClick($event);" id="pageSizeDdl" class="browser-default  dropdown-custom">
              <option value="5" selected>5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
              <option value="100">100</option>
          </select>
      </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">

        <li class="page-item"><a class="page-link" href="#" (click)="previousClick($event)">Previous</a></li>

        <li class="page-item" *ngIf="pagesBeforeExists">   <span class="page-link">...</span> </li>
        <li class="page-item"  *ngFor="let page of pages; let i = index">
          <a class="page-link" [class.active]="(page ===pageNumber)" href="#" (click)="pageNumberClick(page, $event)">
            {{page}}
          </a>
        </li>
        <li class="page-item" *ngIf="pagesAfterExists">   <span class="page-link">...</span> </li>
        <li class="page-item"><a class="page-link" href="#" (click)="nextClick($event)">Next</a></li>
      </ul>
    </nav>
  </div>
</div>
