<div class="container main-container">
  <!-- Page Title-->
  <div class="row">
    <div class="col col-sm-12">
      <h3 class="site-cl">Incident Details</h3>
    </div>
  </div>
  <br> <br>
  <!-- Title-->
  <div class="row section">
    <div class="col-md-8 col-sm-12">
      <h4 class="text-primary"> {{title}} <i class="fas fa-edit text-primary" (click)="titleEditClick(!titleEdit)"></i></h4>

      <ng-container  *ngIf="titleEdit">
        <input type="text" id="titleTxt" class="input-text w-100" value="{{title}}" />
        <div class="w-100 text-right fields-update-icon">
          <i class="fas fa-times-circle text-warning" title="Cancel" (click)="titleEditClick(false)"></i>
          <i class="fas fa-check text-success" title="Save" onclick="titleUpdate();"> </i>
        </div>
      </ng-container>
    </div>

    <div class="col-md-4 col-sm-12">
      <p class="text-muted timstamp">Created by  <a class="text-primary">{{common.getUserNameById(incident.CreatedBy)}} </a>
        <span title='{{common.getMoment(incident.CreatedAT).format("MMMM DD YYYY, h:mm:ss a")}}'>{{common.getMoment(incident.CreatedAT).fromNow()}}</span>
      </p>
    </div>
  </div>

   <!-- Fields and updates-->
  <div class="row section">
    <div class=" col-md-6  col-sm-12" >
      <h6 class="text-primary">
        Description :
        <i class="fas fa-edit text-primary" (click)="descriptionEditClick(!descriptionEdit)" ></i>
      </h6>
      <div class="field scrollbar">
        <p class="text-muted">
          {{description}}
        </p>
      </div>
      <div class="" *ngIf="descriptionEdit">
        <textarea id="description " class="scrollbar" (input)="common.auto_grow($event)">
          {{description}}
         </textarea>
         <div class="w-100 text-right fields-update-icon">
          <i class="fas fa-times-circle text-warning" title="Cancel" (click)="descriptionEditClick(false)"></i>
          <i class="fas fa-check text-success" title="Save"></i>
         </div>

      </div>

      <h6 class="text-primary">Additional Details :
        <i class="fas fa-edit text-primary" (click)="addtionalDataEditClick(!addtionalDataEdit)"></i>
      </h6>
      <div class="field scrollbar">
        <p class="text-muted  ">
          {{incident.AdditionalData}}
        </p>
      </div>
      <div class=""  *ngIf="addtionalDataEdit">
        <textarea class="scrollbar" (input)="common.auto_grow($event)">
          {{incident.AdditionalData}}
          </textarea>
          <div class="w-100 text-right fields-update-icon">
            <i class="fas fa-times-circle text-warning" title="Cancel" (click)="addtionalDataEditClick(false)"></i>
            <i class="fas fa-check text-success" title="Save"></i>
           </div>
      </div>

      <h6 class="text-primary"> Attachments:</h6>
        <table class="table">
          <tr *ngFor="let file of incident.Attachments">
            <td><i class="fas fa-times-circle  text-danger"></i>{{file.FileName}}</td>
          </tr>

        </table>

    </div>

    <div class=" col-md-5 offset-md-1 col-sm-12">
      <table class="table update-section">
        <tr>
          <td ><h6 class="text-primary">Status</h6></td>
          <td>
            <select [(ngModel)]="status"  class="browser-default  dropdown-custom">
              <option value="I">In Progress</option>
              <option value="N">New</option>
              <option value="C">Closed</option>
              <option value="A">Approved</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><h6 class="text-primary">Assignee</h6></td>
            <td>
              <app-assignee-dropdown [selectedAssignee]="incident.AssignedTo" (assigneeChanged)="assigneeChanged($event)" ></app-assignee-dropdown>
            </td>
        </tr>
        <tr>
          <td>
            <h6 class="text-primary">
              Start Date  <i class="fas fa-edit text-primary" (click)="startDateEditClick(!startDateEdit)"></i>
            </h6>
          </td>
          <td>
            <span *ngIf="!startDateEdit" title='{{common.getMoment(startDate).format("MMMM DD YYYY, h:mm:ss a")}}'>{{common.getMoment(startDate).fromNow()}}</span>
            <ng-container *ngIf="startDateEdit">
              <input [owlDateTime]="startdt" [(ngModel)]="startDate" [owlDateTimeTrigger]="startdt" class="input-text">
              <owl-date-time #startdt (afterPickerClosed)="startDateChanged()"></owl-date-time>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td><h6 class="text-primary">Due Date <i class="fas fa-edit text-primary" (click)="dueDateEditClick(!dueDateEdit)"></i></h6></td>
          <td>
            <span *ngIf="!dueDateEdit" title='{{common.getMoment(duetDate).format("MMMM DD YYYY, h:mm:ss a")}}'>{{common.getMoment(duetDate).fromNow()}}</span>
            <ng-container *ngIf="dueDateEdit">
              <input [owlDateTime]="duetDatedt" [(ngModel)]="duetDate" [owlDateTimeTrigger]="duetDatedt" class="input-text">
              <owl-date-time #duetDatedt (afterPickerClosed)="dueDateChanged()"></owl-date-time>
            </ng-container>
          </td>
        </tr>

      </table>

    </div>
  </div>


   <!-- Comments-->
  <div class="row section">
    <div class=" col-md-6 col-sm-12">

      <h4>Comments</h4>
  <br>
    <div *ngFor="let c of incident.Comments">
      <app-comment [comment]="c" ></app-comment>
    </div>

      <h5>Add Comment</h5>
      <div class="input-field">
        <textarea id="comment" placeholder="Type a comment here"  (input)="common.auto_grow($event)" class=""></textarea>
      </div>
      <div class="custom-file upload-container">
        <button class="btn bg-primary text-white"><i class="fas fa-paperclip"></i></button>
        <input class="file" id="commentFiles" onchange="$('#filestxt').val($('#commentFiles')[0].files.length+ ' file selected.')" type="file" multiple />
        <input type="text" id="filestxt" class="txt w-75 text-muted" value="Upload Files" readonly>
    </div>

      <div class="comment-buttons text-center ">
        <button class="btn  text-white bg-success">
          <span>Add</span>
          <i class="fas fa-check "></i>

        </button>

        <button class="btn bg-warning text-white">
          <span>Cancel</span>
          <i class="fas fa-times-circle  text-white"></i>

        </button>
      </div>
    </div>

  </div>


</div><!-- end of container-->
