<div class="container main-container">
  <!-- Page Title-->
  <div class="row">
    <div class="col col-sm-12">
      <h3 class="site-cl">Incident Details</h3>
    </div>
  </div>
  <br> <br>
  <!-- Title-->
  <div class="row section">
    <div class="col-md-8 col-sm-12">
      <h4 class="text-primary"> {{incident.Title}} <i class="fas fa-edit text-primary"></i></h4>
    </div>
    <div class="col-md-4 col-sm-12">
      <p class="text-muted timstamp">Created by Umar 5 hours ago </p>
    </div>
  </div>

   <!-- Fields and updates-->
  <div class="row section">
    <div class=" col-md-6  col-sm-12" >
      <h6 class="text-primary">Description : <i class="fas fa-edit text-primary"></i></h6>
      <div class="field scrollbar">
        <p class="text-muted">
          {{incident.Description}}
        </p>
      </div>
      <div class="">
        <textarea id="description " class="scrollbar" (input)="auto_grow($event)">
          {{incident.Description}}
         </textarea>
         <div class="w-100 text-right fields-update-icon">
          <i class="fas fa-times-circle text-warning" title="Cancel"></i>
          <i class="fas fa-check text-success" title="Save"></i>
         </div>

      </div>

      <h6 class="text-primary">Additional Details : <i class="fas fa-edit text-primary"></i></h6>
      <div class="field scrollbar">
        <p class="text-muted  ">
          {{incident.AdditionalData}}
        </p>
      </div>
      <div class="">
        <textarea class="scrollbar" (input)="auto_grow($event)">
          {{incident.AdditionalData}}
          </textarea>
          <div class="w-100 text-right fields-update-icon">
            <i class="fas fa-times-circle text-warning" title="Cancel"></i>
            <i class="fas fa-check text-success" title="Save"></i>
           </div>
      </div>

      <h6 class="text-primary"> Attachments:</h6>
        <table class="table">
          <tr *ngFor="let file of incident.Attachments">
            <td><i class="fas fa-times-circle  text-danger"></i>{{file.FileName}}</td>
          </tr>

        </table>

    </div>

    <div class=" col-md-5 offset-md-1 col-sm-12">
      <table class="table update-section">
        <tr>
          <td ><h6 class="text-primary">Status</h6></td>
          <td>
            <select class="browser-default  dropdown-custom">
              <option selected>In Progress</option>
              <option value="1">New</option>
              <option value="2">Closed</option>
              <option value="3">Approved</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><h6 class="text-primary">Assignee</h6></td>
            <td>
              <!-- Example single danger button -->
                <div class="btn-group">
                  <input type="text" id="assigneeDdl" value="" class="dropdown-toggle dropdown-custom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" readonly>
                  <div class="dropdown-menu justify-content-center">
                     <div class="dropdown-item">
                        <input type="text" id="assigneeSearchtxt" placeholder="Search" class="input-text">
                     </div>
                     <div id="assgineeHtml" class="assignee-list scrollbar">
                       <span class="dropdown-item text-primary" onclick="assigneeSelected('0E214638-26DB-492E-B37A-A9F5C3A051A8')">Test Test</span>
                       <span class="dropdown-item text-primary" onclick="assigneeSelected('0F0C7B84-318A-4485-95C7-4A0E340E8E6E')">Wasif farooq</span>
                       <span class="dropdown-item text-primary" onclick="assigneeSelected('16819E79-25A3-46C9-8B1F-8FB6C6F8AC61')">Umar Shareef</span>
                       <span class="dropdown-item text-primary" onclick="assigneeSelected('226860F1-E693-49B3-B803-16113366C440')">lindsey farooq</span>
                       <span class="dropdown-item text-primary" onclick="assigneeSelected('345F5F20-9098-4C01-B2B6-9371CD53967F')">Umar Khan</span>
                       </div>
                </div>
                </div>
            </td>
        </tr>
        <tr>
          <td><h6 class="text-primary">Start Date</h6></td>
          <td>3 days ago</td>
        </tr>
        <tr>
          <td><h6 class="text-primary">Due Date</h6></td>
          <td>In 2 weeks</td>
        </tr>

      </table>

    </div>
  </div>


   <!-- Comments-->
  <div class="row section">
    <div class=" col-md-8 col-sm-12">

      <h4>Comments</h4>
  <br>
      <div class="commentBox">

        <div class="commentHeader d-flex">
          <div class="w-75"><a class="text-primary">Umar Shareef</a> added a comment. - 7 days ago </div>
          <div class="w-25 d-flex justify-content-end">
            <i class="fas fa-edit text-primary"></i>
            <i class="fas fa-times-circle text-danger" title="Cancel"></i>
          </div>
        </div>
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores tempora quibusdam
          cum iure alias fugiat. Qui ipsum labore fuga recusandae quo est aliquid sunt repellendus soluta odio,
          consequatur inventore animi!
        </p>
        <div class="">
          <textarea class="scrollbar">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quibusdam maiores totam, saepe ipsa necessitatibus magni! Molestias beatae, asperiores, tempore maiores odio sunt sit quasi veritatis architecto incidunt at ipsum.
                              </textarea>
          <div class="w-100 text-right fields-update-icon">
            <i class="fas fa-times-circle text-warning" title="Cancel"></i>
            <i class="fas fa-check text-success" title="Save"></i>
          </div>
        </div>

        <table class="table">
          <tr>
            <td><i class="fas fa-times-circle  text-danger"></i>File 1</td>
          </tr>
          <tr>
            <td><i class="fas fa-times-circle  text-danger"></i>File 4</td>
          </tr>
          <tr>
            <td><i class="fas fa-times-circle  text-danger"></i>File 7</td>
          </tr>
        </table>


        <hr>
      </div>



      <h5>Add Comment</h5>
      <div class="input-field">
        <textarea id="comment" placeholder="Type a comment here"  (input)="auto_grow($event)" class=""></textarea>
      </div>
      <div class="custom-file upload-container">
        <button class="btn bg-primary text-white"><i class="fas fa-paperclip"></i></button>
        <input class="file" id="commentFiles" onchange="$('#filestxt').val($('#commentFiles')[0].files.length+ ' file selected.')" type="file" multiple />
        <input type="text" id="filestxt" class="txt w-75 text-muted" value="Upload Files" readonly>
    </div>

      <div class="comment-buttons text-center ">
        <button class="btn  text-white bg-success">
          <span>Add</span>
          <i class="fas fa-check "></i>

        </button>

        <button class="btn bg-warning text-white">
          <span>Cancel</span>
          <i class="fas fa-times-circle  text-white"></i>

        </button>
      </div>
    </div>

  </div>


</div><!-- end of container-->
