
 /* extra Small devices (landscape phones, 576px and up) */
 @media (min-width: 279px) {

}

 /*  Small devices (landscape phones, 576px and up) */
@media (min-width: 400px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

table th {
   white-space: nowrap;
   color:  #003018;
}
table td {
   color: darkslategrey;
}

.update-section.table td, .update-section.table th {

   line-height: 2;
   vertical-align: middle !important;
}

.dropdown-custom{
  border: none;
  border-bottom: 1px solid #9e9e9e;
  width: 200px;
}


textarea{
   width: 100%;
   resize: none;
   overflow: hidden;
   min-height: 40px;
   max-height: 100px;
}

.section{
   padding-bottom: 2vh;
}

.timstamp{
   font-size: smaller;
}

.fields-update-icon{
   font-size: x-large;
   cursor: pointer;
}
.fields-update-icon .fa-times-circle{
   color: orange;
}
.fields-update-icon .fa-check{
   color: green;
}

.field{
   max-height: 25vh;
   overflow-y: auto;
}


select.dropdown-custom{
  padding:5px;
}

select.dropdown-custom option{
   background: darkgreen;
   color: white;
}

.input-text, textarea {
   border: none;
   border-bottom: 1px solid #9e9e9e;
}
.input-text:focus , textarea:focus{
  outline: none;
}

ul.field li {
   list-style: none;
   display: inline;
   padding-right: 25px;
   cursor: pointer;
}

/*Comments */
.comment-buttons button{
  margin-left: 5px;
}


.custom-file.upload-container {
   position: relative;
}

.custom-file.upload-container .file {
   position: absolute;
   top: 5px;
   left: 0;
   opacity: 0;
}

.custom-file.upload-container .fa-paperclip {
   font-size: x-large;
}

.custom-file.upload-container .txt {
   border: none;
   border-bottom: 1px solid #9e9e9e;
}

.custom-file.upload-container .txt:focus {
   outline: none;
}
