<div class="commentBox">

  <div class="commentHeader d-flex">
    <div class="w-75">
      <a class="username">{{common.getUserNameById(comment.UserId)}}</a>
         <small> added a comment. </small> -
      <span class="time-stamp"
        title='{{common.getMoment(comment.CreateDate).format("MMMM DD YYYY, h:mm:ss a")}}'>{{common.getMoment(comment.CreateDate).fromNow()}}</span>
    </div>

    <div class="w-25 d-flex justify-content-end">
      <i class="fas fa-pen text-gray mr-2" (click)="commentEditClick(!commentEdit)"></i>
      <i class="fas fa-times-circle text-danger" title="Delete" (click)="deleteComment()"></i>
    </div>
  </div>


  <div class="" *ngIf="commentEdit">
    <textarea [(ngModel)] = "commentEditText" class="scrollbar" (input)="common.auto_grow($event)">
    </textarea>
    <div class="w-100 text-right fields-update-icon">
      <i class="fas fa-times-circle text-warning" title="Cancel" (click)="commentEditClick(false)"></i>
      <i class="fas fa-check text-success" title="Save"  (click)="commentEditSave()"></i>
    </div>
  </div>
  <p class="comment-text text-muted field scrollbar text-center">{{commentText}}
  </p>
<!-- 
  <table class="table">

    <tr *ngFor="let file of comment.attachments">
      <td>
        <i class="fas fa-times-circle  text-danger" title="Remove"  (click)="deleteFile(file)" ></i>
        <a class="text-primary comment-file" (click)="downloadFile(file)"> {{file.FileName}} </a>
      </td>
    </tr>

  </table> -->
  <div class="">
    <div *ngFor="let file of comment.attachments" class="file-box"> 
      <div class="file-box">
        <div class="file-name"><span class="text-nowrap" title="{{file.FileName}}">
           <i class="material-icons">attachment</i>
             {{file.FileName.length > 20? file.FileName.slice(0,20) + "..." : file.FileName }}
          </span></div>
       
        <div class="file-actions">
          <i title="Download file" (click)="downloadFile(file)" class="material-icons download">download</i>               
          <i title="Delete file" (click)="deleteFile(file)" class="material-icons del">delete_forever</i>
        </div>
      </div>             
    </div>
  </div>


  <hr>
</div>
