/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css"; */
@import "~ng-pick-datetime/assets/style/picker.min.css";

/* extra Small devices (landscape phones, 576px and up) */

body{
  /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family:Arial, Helvetica, sans-serif;
  background: rgba(88, 115, 254, 0.04);
}

:root {
  --new-bg-color: radial-gradient(circle, rgba(193,163,56,1) 0%, rgba(203,180,64,1) 35%);
  --inprogress-bg-color: radial-gradient(circle, rgba(47,108,235,1) 0%, rgba(26,90,193,1) 45%);
  --closed-bg-color: radial-gradient(circle, rgba(66,194,56,1) 39%, rgba(113,200,120,1) 100%);
  --approved-bg-color: radial-gradient(circle, rgba(12,99,5,1) 0%, rgba(14,131,22,1) 100%);
  --late-bg-color: radial-gradient(circle, rgba(172,42,40,1) 0%, rgba(163,20,18,1) 45%);
  --assignedToMe-bg-color: radial-gradient(circle, rgba(28,55,218,1) 0%, rgba(17,24,112,1) 100%);
}

.card {
  background: #ffffff;
  margin: 7px 0px;
  padding: 0px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
}


.card .card-body{
  flex: 1 1 auto;
    padding: 1.25rem;
}

.card .card-body h5{
  text-align: center;
  font-size: medium;
  font-weight: bold;
  color: #003018;

}

input, input:focus {
  border-width: 0px;
  border-bottom: 1px solid black;
  outline: 0;
  -webkit-appearance: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.heading{
  padding: 5px 0px;
}

.report-title{
  font-size: larger;
  font-weight: bold;
}

@media (min-width: 280px) {
  .main-container {
      min-height: 100vh;
      background: #F8F9FE;
  }

  .notification-list {
      max-height: 50vh;
      overflow-y: auto;

      padding: 10px 30px;
  }
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) {
  .main-container {
      min-height: 100vh;
  }

  .report-title{
    margin-top: 1vh;
  }

  .notification-list {
      max-height: 50vh;
      overflow-y: auto;

      padding: 10px 5px;
      font-size: small;
  }
}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-container {
      min-height: 100vh;
  }
  .notification-list fa-bookmark {
    cursor:pointer;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .main-container {
      min-height: 100vh;
  }
  .notification-list {
      max-height: 60vh;
      overflow-y: auto;
      width: 35vw;
      padding: 10px 10px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .main-container {
      min-height: 100vh;     
      margin-top: 2vh;
  }

  .navbar {
      padding: 10px 200px !important;
      width: auto;
      /* min-height: 12vh; */
  }
  .notification-list {
      max-height: 60vh;
      overflow-y: auto;
      width: 35vw;
      padding: 10px 30px;
  }
}


.site-bg{
  background-color: #003018;
}

.site-cl{
  color: #003018;
}

.site-bg-img {
background-image: url('./assets/images/green.jpg');
background-size: 100% 100%;
}

i.fas {
  cursor: pointer;
}

.btn {
  cursor: pointer;
}


.navbar .nav-link{
  color: white;
}
.navbar-brand{
  color: white;
  font-size: 25px !important;
}
.navbar .nav-link:hover{
  text-decoration: underline;

}


.nav-item i{
  font-size: 23px;
}

.nav-item{
  position: relative;
}
/* .notification-count {
  position: absolute;
  color:white;
  padding: 3px;
  background-color: crimson;
  left: 25px;
  top: -7px;
  border-radius: 40px;
  font-size: 12px;
} */

#style-15::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
background-color: #F5F5F5;
border-radius: 10px;
}

.scrollbar::-webkit-scrollbar
{
width: 6px;
background-color: #F5F5F5;
  cursor: pointer;
}

.scrollbar::-webkit-scrollbar-thumb
{
  cursor: pointer;
border-radius: 10px;
background-color: #FFF;
background-image: -webkit-gradient(linear,
                   40% 0%,
                   75% 84%,
                   from(rgba(2,74,130,1)),
                   to(rgba(2,74,130,1)),
                   color-stop(.6,rgba(0,0,0,1)))
}



.fields-update-icon i{
  margin-left: 5px;
}


/*----------------  Custom Tool Tip ----------------------------*/

.tool-tip{
  position: relative;
}
.tool-tip:hover::before{
  content: attr(data-tooltip);
  white-space: pre;
  background-color: black;
  color: #efefef;

   position:absolute;
   z-index: 9999;
  top: 30px;
  padding:2px 15px;
  border-radius: 10px;
   animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

/*----------------  Custom Tool Tip END----------------------------*/
/* 
.status-new-color {
  color: #F57C00 !important;
}

.status-inprogress-color {
  color: #1976D2 !important;
}

.status-closed-color {
  color: #43A047 !important;
}

.status-approved-color {
  color: #1B5E20 !important;
}

.status-late-color {
  color: #B71C1C !important;
}

.status-new-bg-color {
  background-color: #F57C00 !important;
}

.status-inprogress-bg-color {
  background-color: #1976D2 !important;
}

.status-closed-bg-color {
  background-color: #43A047 !important;
}

.status-approved-bg-color {
  background-color: #1B5E20 !important;
}

.status-late-bg-color {
  background-color: #B71C1C !important;
} */

/*-------------- Dashboard ---------------------*/


.incident{

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px dotted;
  padding: 10px 0px;
}

.time-status{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: indigo;
  height: 50px;
}

.incident .timestamp{
  white-space: nowrap;
  font-size: small;
  color: white;
  background-color: #5f5858;
  padding: 0px 10px;
  border-radius: 3px;
}
.incident .status{
  white-space: nowrap;
  font-size: small;
  text-align: center;
  padding: 3px;
  min-width: 70px;
  color: white;
  border-radius: 4px;
}

 .status.new {
  background: var( --new-bg-color);
}

 .status.inprogress {
  background: var(--inprogress-bg-color);
}

 .status.closed {
  background: var(--closed-bg-color);
}

 .status.approved {
  background: var(--approved-bg-color);
}



.incident .title {
  display: inline-block;
  margin-left: 20px;
}

.incident .title a{
  font-size: small;
  
  color: #1A237E; 
  color: gray;

}
.incident .title:hover{
 text-decoration: underline;
 cursor: pointer;
}


/*-------------- End Dashboard ---------------------*/
