<div class="container main-container">

  <div class="row heading">
    <div class="col-sm-6">
      <h3 class="report-title ">Incidents</h3>
    </div>
   
  </div>

<div class="card">
  <div class="card-body">

    <div class="page-actions">


      <div class="">
        <!-- <span class="text-muted" > Search : </span> -->
        <input type="text" class="txt text-muted" (input)="searchChanged($event)"
          placeholder="Type title or description" />
      </div>
      <div class="text-right">
        <a class="btn addnew-btn  d-flex align-items-center" (click)="newincident()">
          <i class="material-icons mr-1">add</i>
          Add New
        </a>
      </div>
    </div>

  </div>
</div>


 <!-- Listing-->
<div class="row">
  <div class="col col-sm-12">
    <div class="card">
      <div class="card-body">
    <div class="table-responsive">
      <table class="table ">
        <thead>
          <tr  *ngIf="status==='' || status == 'loading'">
            <th (click)="sortColumn('Title')">Title </th>
            <th (click)="sortColumn('Description')">Description</th>
            <th (click)="sortColumn('AssignedTo')">Assigned To</th>
            <th (click)="sortColumn('CreatedBy')">Created By</th>
            <th (click)="sortColumn('CreatedAT')">Created On</th>
            <th (click)="sortColumn('StartTime')">Start Time</th>
            <th (click)="sortColumn('DueDate')">Due Date</th>
            <th (click)="sortColumn('Status')">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="7" *ngIf="status==='loading'" > <h5 class="text-center text-muted">Loading...</h5> </td>
            <td colspan="7" *ngIf="status==='noData'" > <h3 class="text-center text-warning">No Incident with this criteria.</h3> </td>
            <td colspan="7" *ngIf="status==='error'" > <h3 class="text-center text-danger">An Error has occured. Try logging in again.</h3> </td>
        </tr>
          <tr *ngFor="let incident of incidents">
            <td class="text-nowrap title" (click)="titleClick(incident.Id)"><a title="{{incident.Title}}" >{{(incident.Title.length > 25 ? incident.Title.slice(0, 25) + "..." : incident.Title)}}</a></td>
            <td class="description text-muted "
              title="{{incident.Description}}">
              {{(incident.Description.length > 20 ? incident.Description.slice(0, 20) + "..." : incident.Description)}}
             
            <td class="text-nowrap">{{commonService.getUserNameById(incident.AssignedTo)}}</td>
            <td class="text-nowrap">{{commonService.getUserNameById(incident.CreatedBy)}}</td>
            <td><span data-toggle="tooltip" class="bs-tooltip" title= '{{commonService.getMoment(incident.CreatedAT).format("MMMM DD YYYY, h:mm:ss a")}}'>{{commonService.getMoment(incident.CreatedAT).fromNow() }} </span></td>
            <td class="text-nowrap"><span title= '{{commonService.getMoment(incident.StartTime).format("MMMM DD YYYY, h:mm:ss a")}}'>{{commonService.getMoment(incident.StartTime).fromNow() }} </span></td>
            <td class="text-nowrap {{dueDateClass(incident.DueDate, incident.Status)}}"><span title= '{{commonService.getMoment(incident.DueDate).format("MMMM DD YYYY, h:mm:ss a")}}'>{{commonService.getMoment(incident.DueDate).fromNow() }} </span></td>
            <td class="text-nowrap">
              <div class="status {{commonService.statusName(incident.Status).replace(' ', '').toLowerCase()}}">
                {{commonService.statusName(incident.Status)}}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="card-footer">
    
      <app-pagination *ngIf="status==='' || status == 'loading'" [totalRecords]="totalRecords" [pageNumber]="pageNumber"
        (pageNumberChanged)="pageNumberChanged($event)" (pageSizeChanged)="pageSizeChanged($event)">
      </app-pagination>
    </div>
</div>
</div>

  </div>
</div>

</div>
