
 /* extra Small devices (landscape phones, 576px and up) */
 @media (min-width: 279px) {
   .table td, .table th {

      line-height: 1.5;
      font-size: medium;
   }

}

 /*  Small devices (landscape phones, 576px and up) */
@media (min-width: 400px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
   .table td, .table th {

      line-height: 1.5;
      font-size: medium;
   }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   .table td, .table th {

      line-height: 2;
      font-size: medium;
   }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   .table td, .table th {

      line-height: 2;
      font-size: medium;
   }

}

.page-actions{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.page-actions .addnew-btn{
   border: 1px solid darkblue;
   color: darkblue;
}


.page-actions .addnew-btn:hover{
   border: 1px solid darkblue;
   background-color: darkblue;
   color: white;
}


table th {
   white-space: nowrap;
   color:  #003018;
   cursor: pointer;
}
table td {
   color: darkslategrey;
   line-height: 2;
 
}

table td a {
   color: darkblue;
}



.row.search-bar{
   /* padding-top : 15px; */
}

.txt {
   border: none;
   border-bottom: 1px solid #bababa;
   line-height:2 !important;
}
.txt::placeholder{
   color: #d1d1d1;
}

table tr td{
   color: slategray;
   font-size: small;
}

.row.search-bar .txt:focus {
   outline:none;
}

table tr td.title{
  cursor: pointer !important;

}


table tr td .status{
   white-space: nowrap;
   font-size: x-small;
   text-align: center;
   padding: 4px 2px;
   min-width: 70px;
   color: white;
   border-radius: 7px;
 }


table tr td.title:hover{
  cursor: pointer !important;
  text-decoration: underline !important;
}

