
 /* extra Small devices (landscape phones, 576px and up) */
 @media (min-width: 279px) {
   .table td, .table th {

      line-height: 1.5;
      font-size: medium;
   }

}

 /*  Small devices (landscape phones, 576px and up) */
@media (min-width: 400px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
   .table td, .table th {

      line-height: 1.5;
      font-size: medium;
   }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   .table td, .table th {

      line-height: 2;
      font-size: medium;
   }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   .table td, .table th {

      line-height: 2;
      font-size: medium;
   }

}

.page-actions{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

table th {
   white-space: nowrap;
   color:  #003018;
}
table td {
   color: darkslategrey;
   line-height: 2;
}

table td a {
   color: darkblue;
}



.row.search-bar{
   /* padding-top : 15px; */
}

.row.search-bar .txt {
   border: none;
   border-bottom: 1px solid #9e9e9e;
   line-height:2 !important;
}

table tr td{
   color: slategray;
   font-size: small;
}

.row.search-bar .txt:focus {
   outline:none;
}

table tr td.title{
  cursor: pointer !important;

}



table tr td.title:hover{
  cursor: pointer !important;
  text-decoration: underline !important;
}

