
 /* extra Small devices (landscape phones, 576px and up) */
 @media (min-width: 279px) {

}

 /*  Small devices (landscape phones, 576px and up) */
@media (min-width: 400px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

table th {
   white-space: nowrap;
   color:  #003018;
}
table td {
   color: darkslategrey;
}

table td a {
   color: darkblue;
}


.table td, .table th {

   line-height: 2;
}
.row.search-bar{
   padding-top : 15px;
}

.row.search-bar .txt {
   border: none;
   border-bottom: 1px solid #9e9e9e;
   line-height:2 !important;
}

.row.search-bar .txt:focus {
   outline:none;
}

table tr td.title{
  cursor: pointer !important;

}



table tr td.title:hover{
  cursor: pointer !important;
  text-decoration: underline !important;
}

