
 /* extra Small devices (landscape phones, 576px and up) */
 @media (min-width: 279px) {

}

 /*  Small devices (landscape phones, 576px and up) */
@media (min-width: 400px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

.fas.fa-pen{
   color: gray;
   font-size: small;
   margin-right: 0.1vw;
}

.title-text{
   color: #02355D;
   font-size: large;
}
.incident-field-heading{
   color: #02355D;
   font-size: small;
   font-weight: bold;

}

table th {
   white-space: nowrap;
   color:  #003018;
}
table td {
   color: darkslategrey;
}

.update-section.table td, .update-section.table th {

   line-height: 2;
   vertical-align: middle !important;
}

.dropdown-custom{
  border: none;
  border-bottom: 1px solid #9e9e9e;
  width: 200px;
}


textarea{
   width: 100%;
   resize: none;
   overflow: hidden;
   min-height: 40px;
   max-height: 100px;
}

.section{
   /* padding-bottom: 2vh; */
}

.timstamp{
   font-size: smaller;
}

.fields-update-icon{
   font-size: x-large;
   cursor: pointer;
}
.fields-update-icon .fa-times-circle{
   color: orange;
}
.fields-update-icon .fa-check{
   color: green;
}

.field{
   max-height: 25vh;
   overflow-y: auto;
   font-size: small;
   line-height: 1.5;
   white-space:pre-wrap;
}


select.dropdown-custom{
  padding:5px;
}

select.dropdown-custom option{
   /* background: darkgreen;
   color: white; */
}

.input-text, textarea {
   border: none;
   border-bottom: 1px solid #9e9e9e;
}
.input-text:focus , textarea:focus{
  outline: none;
}

ul.field li {
   list-style: none;
   display: inline;
   padding-right: 25px;
   cursor: pointer;
}

.incident-attachments{

}

/********** Files *************/

.file-box {
   display: flex;
   justify-content: center;
   font-size: medium;
   line-height: 2;
   border-bottom: dotted 0.5px lightgray;
}

.file-box .file-name {
   min-width: 190px;
   color: gray;
}
.file-box .file-name span {
   display: flex;
   font-size: small;
}

.file-box .file-name i {
   color: #cfbf13;
   margin-right:2px;
   margin-top:4px;
}

.file-box .file-actions {
   font-size: medium;
}
.file-actions i{
   cursor:pointer;
}
.file-actions i.del {
   color: red;
}
.file-actions i.download {
   color: dodgerblue;
}


/******************** Comments ******************/

.all-comments{
   max-height: 40vh;
   overflow-y: auto;
}