<div class="container main-container">
  <!-- Page Title-->
  <div class="row heading">
    <div class="col col-sm-12">
      <h3 class="report-title">Incident Details</h3>
    </div>
  </div>

  <!-- Title-->
  <div class="row section">
    <div class="col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body">
      <div class="title-section">
      <h4 class="title-text"> <i class="fas fa-pen" (click)="titleEditClick(!titleEdit)"></i> {{title}} </h4>

      <ng-container  *ngIf="titleEdit">
        <input type="text" id="titleTxt" class="input-text w-100" [(ngModel)]="titleEditText" maxlength="100" />
        <div class="w-100 text-right fields-update-icon">
          <i class="fas fa-times-circle text-warning" title="Cancel" (click)="titleEditClick(false)"></i>
          <i class="fas fa-check text-success" title="Save" (click)="updateIncident('title');"> </i>
        </div>
      </ng-container>
    </div>

      <div class="time-stamp">
        <p class="text-muted text-right timstamp">Created by  <a class="text-primary">{{common.getUserNameById(incident.CreatedBy)}} </a>
          <span title='{{common.getMoment(incident.CreatedAT).format("MMMM DD YYYY, h:mm:ss a")}}'>{{common.getMoment(incident.CreatedAT).fromNow()}}</span>
        </p>
      </div>
    </div>
  </div>
</div>

    
  </div>

   <!-- Fields and updates-->
   
  <div class="row section">
    <div class=" col-md-6  col-sm-12" >
      <div class="card">
        <div class="card-body">
      <h6 class="incident-field-heading">
        <i class="fas fa-pen" (click)="descriptionEditClick(!descriptionEdit)" ></i>
        Description :        
      </h6>
      <div class="field scrollbar">
        <p class="text-muted pl-2">
          {{description}}
        </p>
      </div>
      <div class="" *ngIf="descriptionEdit">
        <textarea id="description" class="scrollbar" [(ngModel)]="descriptionEditText" (input)="common.auto_grow($event)">
         </textarea>
         <div class="w-100 text-right fields-update-icon">
          <i class="fas fa-times-circle text-warning" title="Cancel" (click)="descriptionEditClick(false)"></i>
          <i class="fas fa-check text-success" title="Save" (click)="updateIncident('description');"></i>
         </div>

      </div>

      <h6 class="incident-field-heading">        
        <i class="fas fa-pen" (click)="addtionalDataEditClick(!addtionalDataEdit)"></i>
        Additional Details :
      </h6>
      <div class="field scrollbar">
        <p class="text-muted  pl-2">
          {{addtionalData}}
        </p>
      </div>
      <div class=""  *ngIf="addtionalDataEdit">
        <textarea class="scrollbar"  [(ngModel)]="addtionalDataEditText"  (input)="common.auto_grow($event)">
          </textarea>
          <div class="w-100 text-right fields-update-icon">
            <i class="fas fa-times-circle text-warning" title="Cancel" (click)="addtionalDataEditClick(false)"></i>
            <i class="fas fa-check text-success" title="Save" (click)="updateIncident('additionalData');"></i>
           </div>
      </div>
<br/>
      <h6 class="incident-field-heading"> Attachments:</h6>
        <div class="">
          <div *ngFor="let file of incident.Attachments" class="file-box"> 
            <div class="file-box">
              <div class="file-name"><span class="text-nowrap" title="{{file.FileName}}">
                 <i class="material-icons">attachment</i>
                   {{file.FileName.length > 20? file.FileName.slice(0,20) + "..." : file.FileName }}
                </span></div>
             
              <div class="file-actions">
                <i title="Download file" (click)="downloadFile(file)" class="material-icons download">download</i>               
                <i title="Delete file" (click)="deleteFile(file)" class="material-icons del">delete_forever</i>
              </div>
            </div>             
          </div>
        </div>

      </div>
    </div>
    </div>

    <div class=" col-md-6  col-sm-12">
      <div class="card">
        <div class="card-body">
          <table class="table update-section">
            <tr>
              <td>
                <h6 class="incident-field-heading">Status</h6>
              </td>
              <td>
                <select [(ngModel)]="status" (change)="statusChanged($event)" class="browser-default  dropdown-custom">
                  <option value="I">In Progress</option>
                  <option value="N">New</option>
                  <option value="C">Closed</option>
                  <option value="A">Approved</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <h6 class="incident-field-heading">Assignee</h6>
              </td>
              <td>
                <app-assignee-dropdown [selectedAssignee]="incident.AssignedTo" [width]="'w-75'"
                  (assigneeChanged)="assigneeChanged($event)"></app-assignee-dropdown>
              </td>
            </tr>
            <tr>
              <td>
                <h6 class="incident-field-heading">
                  Start Date <i class="fas fa-pen" (click)="startDateEditClick(!startDateEdit)"></i>
                </h6>
              </td>
              <td>
                <span *ngIf="!startDateEdit"
                  title='{{common.getMoment(startDate).format("MMMM DD YYYY, h:mm:ss a")}}'>{{common.getMoment(startDate).fromNow()}}</span>
                <ng-container *ngIf="startDateEdit">
                  <input [owlDateTime]="startdt" [(ngModel)]="startDate" [owlDateTimeTrigger]="startdt" class="input-text">
                  <owl-date-time #startdt (afterPickerClosed)="startDateChanged()"></owl-date-time>
                </ng-container>
              </td>
            </tr>
            <tr>
              <td>
                <h6 class="incident-field-heading">Due Date <i class="fas fa-pen"
                    (click)="dueDateEditClick(!dueDateEdit)"></i></h6>
              </td>
              <td>
                <span *ngIf="!dueDateEdit"
                  title='{{common.getMoment(dueDate).format("MMMM DD YYYY, h:mm:ss a")}}'>{{common.getMoment(dueDate).fromNow()}}</span>
                <ng-container *ngIf="dueDateEdit">
                  <input [owlDateTime]="duetDatedt" [(ngModel)]="dueDate" [owlDateTimeTrigger]="duetDatedt"
                    class="input-text">
                  <owl-date-time #duetDatedt (afterPickerClosed)="dueDateChanged()"></owl-date-time>
                </ng-container>
              </td>
            </tr>
    
          </table>
        </div>
      </div>
    </div>
  </div>


  <!-- Comments-->
  
  <div class="row section">
    <div class="col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h4 class="incident-field-heading">Comments</h4>
          <br>
          <div class="all-comments scrollbar">
            <div *ngFor="let c of incident.Comments">
              <app-comment [comment]="c" (commentChanged)="commentChanged($event)"
                (commentDeleted)="commentDeleted($event)">
              </app-comment>
            </div>
          </div>
  
          <app-add-comment [incidentId]="incident.Id" (commentAdded)="commentAdded($event)"></app-add-comment>
        </div>
  
      </div>
    </div>
  </div>

</div><!-- end of container-->
