

.kpi{

padding-right: 40px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
background-color: #1A237E;
padding: 25px 10px;
border-radius: 30px;
color: white; 

}

.kpi-text{      
white-space: nowrap;

}

.new-color{
background: rgb(183,28,28);
background: linear-gradient(90deg, rgba(245,124,0,1) 52%, rgba(255,226,0,1) 100%);
}

.inprogress-color{
background: rgb(183,28,28);
background: linear-gradient(90deg, rgba(25,118,210,1) 70%, rgba(0,237,255,1) 100%);
}

.closed-color{
background: rgb(183,28,28);
background: linear-gradient(90deg, rgba(67,160,71,1) 52%, rgba(0,255,187,1) 100%);
}

.approved-color{
background: rgb(183,28,28);
background: linear-gradient(90deg, rgba(27,94,32,1) 52%, rgba(19,255,0,1) 100%);
}

.late-color{
background: rgb(183,28,28);
background: linear-gradient(90deg, rgba(183,28,28,1) 52%, rgba(255,140,0,1) 100%);
}

.assignedToMe-color{
background: rgb(26,35,126);
background: linear-gradient(90deg, rgba(26,35,126,1) 63%, rgba(0,194,255,1) 100%);
}



/* Small devices  */
@media (min-width: 300px) {
  .kpi {
    padding: 10px 0px;
    margin-bottom: 20px;
    border-radius: 10%;  
  }

  .kpi-value {
    font-size: 15px;
    margin-bottom: 5px;   
  }

  .kpi-text {
    font-size: 10px;    
  }

  
}

/* (tablets, 768px and up) */
@media (min-width: 700px) {

}

/* Large Tablets  */
@media (min-width: 1000px) {
  .kpi {
    padding: 25px 10px;
    margin-bottom: 0px;
  }

  .kpi-value {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .kpi-text {
    font-size: 10px;
  }
}
/* Computer */
@media (min-width: 1500px) {
  .kpi {
    padding: 25px 10px;
    margin-bottom: 0px;
  }

  .kpi-value {

    font-size: 25px;
    margin-bottom: 5px;
  }

  .kpi-text {
    font-weight: bold;
    font-size: 12px;
  }
}