

.kpi{

padding-right: 40px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
background-color: #1A237E;
padding: 25px 10px;
border-radius: 5px;
color: white; 

}

.kpi-text{      
white-space: nowrap;

}

.new-color {
  background: var( --new-bg-color);
}

.inprogress-color {
  background: var(--inprogress-bg-color);
}

.closed-color {
  background: var(--closed-bg-color);
}

.approved-color {
  background: var(--approved-bg-color);
}

.late-color {
  background: var(--late-bg-color);
}

.assignedToMe-color {
  background: var(--assignedToMe-bg-color);
}




/* Small devices  */
@media (min-width: 300px) {
  .kpi {
    padding: 10px 0px;
    margin-bottom: 20px;
    
  }

  .kpi-value {
    font-size: 15px;
    margin-bottom: 5px;   
  }

  .kpi-text {
    font-size: 10px;    
  }

  
}

/* (tablets, 768px and up) */
@media (min-width: 700px) {

}

/* Large Tablets  */
@media (min-width: 1000px) {
  .kpi {
    padding: 15px 10px;
    margin-bottom: 0px;
  }

  .kpi-value {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .kpi-text {
    font-size: 10px;
  }
}
/* Computer */
@media (min-width: 1500px) {
  .kpi {
    padding: 10px 10px;
    margin-bottom: 0px;
  }

  .kpi-value {

    font-size: 15px;
    margin-bottom: 5px;
  }

  .kpi-text {
    font-weight: bold;
    font-size: 12px;
  }
}