
.login-logo {
  height: 100vh;
  background: radial-gradient(circle, rgba(2,74,130,1) 0%, rgba(0,0,0,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.login-box{
  padding: 50px 0px;

  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.login-container .form-group {
   width:60%;
   overflow: hidden;
}


 /* extra Small devices (landscape phones, 576px and up) */
 @media (min-width: 279px) {
  
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 400px) {
 
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
 

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
 

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
 

}

.site-bg{
  background: radial-gradient(circle, rgba(2,74,130,1) 0%, rgba(0,0,0,1) 100%);
  
}

.login-container{
 
}

.site-bg-img {
  background: radial-gradient(circle, rgba(2,74,130,1) 0%, rgba(0,0,0,1) 100%);
  
  }
