
.login-logo {
  height: 100vh;
  background: rgb(95,170,54);
  background: linear-gradient(0deg, rgba(95,170,54,1) 0%, rgba(5,64,36,1) 88%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
  /*  background-color: #1a237e;*/
}

.login-container .form-group {
   width:60%;
}


 /* extra Small devices (landscape phones, 576px and up) */
 @media (min-width: 279px) {
  
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 400px) {
 
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
 

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
 

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
 

}

.site-bg{
  background: rgb(95,170,54);
  background: linear-gradient(0deg, rgba(95,170,54,1) 0%, rgba(5,64,36,1) 88%);
  
}

.login-container{
 
}

.site-bg-img {
  background-image: url('../../assets/images/green.jpg');
  background-size: 100% 100%;
  }
