<div class="commentBox">

  <div class="commentHeader d-flex">
    <div class="w-75">
      <a class="text-primary">{{common.getUserNameById(comment.UserId)}}</a>
      added a comment. -
      <span
        title='{{common.getMoment(comment.CreateDate).format("MMMM DD YYYY, h:mm:ss a")}}'>{{common.getMoment(comment.CreateDate).fromNow()}}</span>
    </div>

    <div class="w-25 d-flex justify-content-end">
      <i class="fas fa-edit text-primary" (click)="commentEditClick(!commentEdit)"></i>
      <i class="fas fa-times-circle text-danger" title="Delete" (click)="deleteComment()"></i>
    </div>
  </div>


  <div class="" *ngIf="commentEdit">
    <textarea [(ngModel)] = "commentEditText" class="scrollbar" (input)="common.auto_grow($event)">
    </textarea>
    <div class="w-100 text-right fields-update-icon">
      <i class="fas fa-times-circle text-warning" title="Cancel" (click)="commentEditClick(false)"></i>
      <i class="fas fa-check text-success" title="Save"  (click)="commentEditSave()"></i>
    </div>
  </div>
  <p class="text-muted field scrollbar">{{commentText}}
  </p>

  <table class="table">

    <tr *ngFor="let file of comment.attachments">
      <td><i class="fas fa-times-circle  text-danger"></i>{{file.FileName}}</td>
    </tr>

  </table>


  <hr>
</div>
