<div class="container">
  <div class="row heading">
    <div class="col col-sm-12">
      <h3 class="site-cl heading">Dashboard</h3>
    </div>
  </div>

  <app-kpibar></app-kpibar>
  <div class="row">
    <app-overall-widget class="col-lg-6 col-md-12 col-sm-12"></app-overall-widget>
    <app-last5 class="col-lg-6 col-md-12 col-sm-12"></app-last5>

  </div>

  <div class="row">
    <app-most-assigned-to-users class="col-lg-6 col-md-12 col-sm-12"></app-most-assigned-to-users>
    <app-oldest-open class="col-lg-6 col-md-12 col-sm-12"></app-oldest-open>

  </div>
</div>
