.widget{
  border: 1px solid gray;
  border-radius: 20px;
  padding: 0 20px;
  height: 500px;
  min-height: 500px;
  max-height: 500px;
  overflow: auto;
  margin-bottom: 10px;
}
.widget h5{
  color: #1A237E;
  font-size: large;
  font-weight: bold;
}

.incident{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 0px;
  padding-bottom: 10px;
  border-bottom: 1px dotted;
}

.time-status{
  display: flex;
  flex-direction: column;
  color: indigo;
}

.incident .timestamp{
  white-space: nowrap;
  font-size: small;
  color: gray;
}
.incident .status{
  white-space: nowrap;
  font-size: small;
}

.incident .title {
 display: inline-block;
 min-width: 250px;
 margin-left: 20px;
}

.incident .title a{
  font-size: 16px;
  margin-left: 5px;
  color:  #1A237E;

}
.incident .title:hover{
 text-decoration: underline;
 cursor: pointer;
}
