<div class="btn-group" [class]="width" >

  <input type="text"  value="{{common.getUserNameById(selectedAssignee)}}"  class="dropdown-toggle dropdown-custom w-100" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="true" readonly>

    <div class="dropdown-menu justify-content-center w-100">
    <div class="dropdown-item w-100">
      <input type="text" placeholder="Search" class="input-text w-100" (input)="assigneeSearch($event)">
    </div>
    <div  class="assignee-list scrollbar">
      <ng-container *ngFor="let assignee of assingeeList">
        <span class="dropdown-item text-primary" (click)="assigneeSelected(assignee.Id)">
          {{common.getUserNameById(assignee.Id)}}
        </span>
       </ng-container>


    </div>
  </div>
</div>
