<!-- <h5>Add Comment</h5> -->

<div class="input-field">
  <textarea [(ngModel)]="comment"  placeholder="Type a comment here" (input)="common.auto_grow($event)" class=""></textarea>
</div>

<div class="custom-file upload-container">
  <i class="fas fa-paperclip text-success"></i>
  <input class="file" id="commentFiles"  (change)="fileChange($event)"  type="file" multiple />
  <input type="text" id="filestxt" value="{{filesText}}" class="txt w-75" value="Upload Files" readonly>
</div>

<div class="comment-buttons ">
  <button class="btn  text-white" (click)="saveComment()">  
    <div class="d-flex align-items-center">
      <i class="material-icons" >send</i>
      Send      
  </div>    
  </button>

  <!-- <button class="btn bg-warning text-white">
    <span>Cancel</span>
    <i class="fas fa-times-circle  text-white"></i>
  </button> -->

</div>
