<div class="container main-container">

  <div class="row">
    <div class="col-sm-6">
      <h3 class="site-cl">Incident Listing</h3>
    </div>
    <div class="col-sm-6 text-right">
       <a  class="btn text-white bg-success" (click)="newincident()">Add New</a>
    </div>
  </div>

  <div class="row search-bar">
    <div class="col-sm-12">
        <span class="text-muted" > Search : </span>
        <input type="text" class="txt w-50 text-muted" (input)="searchChanged($event)"  placeholder="Type title or description" />
    </div>
</div>

 <!-- Listing-->
<div class="row">
  <div class="col col-sm-12">
    <div class="table-responsive">
      <table class="table ">
        <thead>
          <tr  *ngIf="status==='' || status == 'loading'">
            <th>Title </th>
            <th>Description</th>
            <th>Assigned TO</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Due Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="7" *ngIf="status==='loading'" > <h5 class="text-center text-muted">Loading...</h5> </td>
            <td colspan="7" *ngIf="status==='noData'" > <h3 class="text-center text-warning">No Incident with this criteria.</h3> </td>
            <td colspan="7" *ngIf="status==='error'" > <h3 class="text-center text-danger">An Error has occured. Try logging in again.</h3> </td>
        </tr>
          <tr *ngFor="let incident of incidents">
            <td class="text-nowrap title" (click)="titleClick(incident.Id)"><a title="{{incident.Title}}" >{{(incident.Title.length > 15 ? incident.Title.slice(0, 15) + "..." : incident.Title)}}</a></td>
            <td class="description text-muted text-nowrap w-25"
              title="{{incident.Description}}">
              {{incident.Description.slice(0,30)}}...</td>
            <td>{{commonService.getUserNameById(incident.AssignedTo)}}</td>
            <td>{{commonService.getUserNameById(incident.CreatedBy)}}</td>
            <td><span title= '{{commonService.getMoment(incident.CreatedAT).format("MMMM DD YYYY, h:mm:ss a")}}'>{{commonService.getMoment(incident.CreatedAT).fromNow() }} </span></td>
            <td><span title= '{{commonService.getMoment(incident.DueDate).format("MMMM DD YYYY, h:mm:ss a")}}'>{{commonService.getMoment(incident.DueDate).fromNow() }} </span></td>
            <td>{{commonService.statusName(incident.Status)}}</td>

          </tr>
        </tbody>
      </table>
    </div>

  <app-pagination *ngIf="status==='' || status == 'loading'" [totalRecords]="totalRecords" [pageNumber]="pageNumber"
    (pageNumberChanged)="pageNumberChanged($event)" (pageSizeChanged)="pageSizeChanged($event)">
  </app-pagination>



  </div>
</div>

</div>
