<div class="container main-container">

  <div class="row">
    <div class="col-sm-6">
      <h3 class="site-cl">Incident Listing</h3>
    </div>
    <div class="col-sm-6 text-right">
       <a  href="./newIncident.html" class="btn text-white bg-success">Add New</a>
    </div>
  </div>

 <!-- Listing-->
<div class="row">
  <div class="col col-sm-12">
    <div class="table-responsive">
      <table class="table ">
        <thead>
          <tr>
            <th>Title </th>
            <th>Description</th>
            <th>Assigned TO</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Due Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let incident of incidents">

            <td class="text-nowrap"><a title="{{incident.Title}}" (click)="titleClick(incident.Id)">{{(incident.Title.length > 15 ? incident.Title.slice(0, 15) + "..." : incident.Title)}}</a></td>
            <td class="description text-muted text-nowrap w-25"
              title="{{incident.Description}}">
              {{incident.Description.slice(0,30)}}...</td>
            <td>{{getUserNameById(incident.AssignedTo)}}</td>
            <td>{{getUserNameById(incident.CreatedBy)}}</td>
            <td><span title= '{{getMoment(incident.CreatedAT).format("MMMM DD YYYY, h:mm:ss a")}}'>{{getMoment(incident.CreatedAT).fromNow() }} </span></td>
            <td><span title= '{{getMoment(incident.DueDate).format("MMMM DD YYYY, h:mm:ss a")}}'>{{getMoment(incident.DueDate).fromNow() }} </span></td>
            <td>{{statusName(incident.Status)}}</td>

          </tr>
        </tbody>
      </table>
    </div>

  <app-pagination [totalRecords]="totalRecords"  (pageNumberChanged)="pageNumberChanged($event)" ></app-pagination>



  </div>
</div>

</div>
