<div class="container main-container">

  <div class="row">
    <div class="col-sm-6">
      <h3 class="site-cl">Incident Listing</h3>
    </div>
    <div class="col-sm-6 text-right">
       <a  href="./newIncident.html" class="btn text-white bg-success">Add New</a>
    </div>
  </div>

 <!-- Listing-->
<div class="row">
  <div class="col col-sm-12">
    <div class="table-responsive">
      <table class="table ">
        <thead>
          <tr>
            <th>Title </th>
            <th>Description</th>
            <th>Assigned TO</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Due Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a (click)="titleClick('umar')">First incident </a></td>
            <td class="description text-muted"
              title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque perferendis ipsum repudiandae nulla sequi culpa! Sint nulla fugit quidem tenetur magni corrupti expedita magnam vitae, at totam voluptatum iusto aliquam.">
              Lorem ipsum dolor...</td>
            <td>Umar Shareef</td>
            <td>Yasir Rasheed</td>
            <td>12/9/2020</td>
            <td>12/31/2020</td>
            <td>Open</td>
          </tr>
          <tr>
            <td>2nd incident</td>
            <td class="description"
              title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque perferendis ipsum repudiandae nulla sequi culpa! Sint nulla fugit quidem tenetur magni corrupti expedita magnam vitae, at totam voluptatum iusto aliquam.">
              Lorem ipsum dolor...</td>
            <td>Nawaz Shareef</td>
            <td>Khan Rasheed</td>
            <td>11/9/2020</td>
            <td>12/31/2020</td>
            <td>New</td>
          </tr>
          <tr>
            <td>Third incident</td>
            <td class="description"
              title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque perferendis ipsum repudiandae nulla sequi culpa! Sint nulla fugit quidem tenetur magni corrupti expedita magnam vitae, at totam voluptatum iusto aliquam.">
              Lorem ipsum dolor...</td>
            <td>Shahbaz Shareef</td>
            <td>Imran Khan</td>
            <td>10/9/2020</td>
            <td>12/15/2020</td>
            <td>In Progress</td>
          </tr>
          <tr>
            <td>Third incident</td>
            <td class="description"
              title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque perferendis ipsum repudiandae nulla sequi culpa! Sint nulla fugit quidem tenetur magni corrupti expedita magnam vitae, at totam voluptatum iusto aliquam.">
              Lorem ipsum dolor...</td>
            <td>Shahbaz Shareef</td>
            <td>Imran Khan</td>
            <td>10/9/2020</td>
            <td>12/15/2020</td>
            <td>In Progress</td>
          </tr>
          <tr>
            <td>Third incident</td>
            <td class="description"
              title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque perferendis ipsum repudiandae nulla sequi culpa! Sint nulla fugit quidem tenetur magni corrupti expedita magnam vitae, at totam voluptatum iusto aliquam.">
              Lorem ipsum dolor...</td>
            <td>Shahbaz Shareef</td>
            <td>Imran Khan</td>
            <td>10/9/2020</td>
            <td>12/15/2020</td>
            <td>In Progress</td>
          </tr>
          <tr>
            <td>Third incident</td>
            <td class="description"
              title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque perferendis ipsum repudiandae nulla sequi culpa! Sint nulla fugit quidem tenetur magni corrupti expedita magnam vitae, at totam voluptatum iusto aliquam.">
              Lorem ipsum dolor...</td>
            <td>Shahbaz Shareef</td>
            <td>Imran Khan</td>
            <td>10/9/2020</td>
            <td>12/15/2020</td>
            <td>In Progress</td>
          </tr>
          <tr>
            <td>Third incident</td>
            <td class="description"
              title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque perferendis ipsum repudiandae nulla sequi culpa! Sint nulla fugit quidem tenetur magni corrupti expedita magnam vitae, at totam voluptatum iusto aliquam.">
              Lorem ipsum dolor...</td>
            <td>Shahbaz Shareef</td>
            <td>Imran Khan</td>
            <td>10/9/2020</td>
            <td>12/15/2020</td>
            <td>In Progress</td>
          </tr>


        </tbody>
      </table>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>


  </div>
</div>

</div>
